/* Reset & base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  padding: 16px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.qr-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.375rem;
  color: hsl(218, 44%, 22%);
  margin-bottom: 14px;
}

.card-text {
  font-size: 0.9375rem;
  color: hsl(220, 15%, 55%);
  padding: 0 12px 12px;
}
